<div class="window" #scrollMe>
  <mat-list>
    <mat-list-item *ngFor="let message of conversationArray">
      <mat-icon></mat-icon>
      <h3 matLine></h3>
      <p matLine>
        <span [innerHTML]="message.content"></span>
      </p>
    </mat-list-item>
  </mat-list>
</div>
<form class="example-form">
  <ng-container *ngFor="let reply of quickReplyArray">
    <ng-container *ngFor="let objArrayElement of generateArray(reply)">
      <a href="#" mat-raised-button (click)="quickReply($event, objArrayElement)">{{ objArrayElement }}</a>
    </ng-container>
  </ng-container>
  <mat-form-field *ngIf="quickReplyArray.length <= 0" class="example-full-width">
    <input matInput
           #message
           maxlength="256"
           placeholder="Message"
           (keyup.enter)="addMessageFromUser(message)" autocomplete="off">
    <mat-icon matSuffix (click)="addMessageFromUser(message)">send</mat-icon>
  </mat-form-field>
</form>
